\.DS_Store

.vscode/
autom4te.cache/
build-aux/
contrib/devtools/split-debug.sh
qa/pull-tester/run-bitcoind-for-test.sh
qa/pull-tester/tests-config.sh
share/qt/Info.plist
share/setup.nsi

**/.deps/
**/.dirstamp

src/**/*.o
src/**/*.a
src/**/*.pb.cc
src/**/*.pb.h

src/config/
src/leveldb/build_config.mk

src/qt/forms/*.h
src/qt/locale/*.qm

src/qt/**/moc_*.cpp
src/qt/**/*.moc
src/qt/**/qrc_*.cpp

src/test/data/*.h
src/test/buildenv.py

aclocal.m4
config.log
config.status
configure
libtool
Makefile
Makefile.in

# Output binaries
src/ittriumd
src/ittrium-cli
src/ittrium-tx
src/qt/ittrium-qt
src/qt/test/test_ittrium-qt
src/test/test_ittrium