# bitcoind RPC settings (linearize-hashes)
rpcuser=RPCUSERNAME
rpcpassword=RPCPASSWORD
#datadir=~/.ittrium
host=127.0.0.1

#mainnet default
port=50369

#testnet default
#port=51369

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=1000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=08020117
genesis000000fdacddaba54eb66a4c09dc795efbfc75fcd0572c99f489424367bc9ec9
input=/home/ittrium/.ittrium/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/ittrium/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
