WalletFrame {
	border-image: url(':/images/walletFrame_bg') 0 0 0 0 stretch stretch;
	border-top: 0px solid #000;
	margin: 0;
	padding: 0
}
QStatusBar {
	background-color: #ffffff
}
QFrame {
	background-color: transparent;
	border: 0px solid #fff
}
QMenuBar {
	background-color: #fff
}
QMenuBar::item {
	background-color: #fff
}
QMenuBar::item:selected {
	background-color: #fafefd
}
QMenu {
	background-color: #fafefd
}
QMenu::item {
	color: #333
}
QMenu::item:selected {
	background-color: #f2f0f0;
	color: #333
}
QToolBar {
	font-family: "Roboto";
	QFont::Medium;
	background-color: #33A3DC;
	margin: 0;
	width: 90px
}
QToolBar > QToolButton {
	alignment: left;
	background-color: #33A3DC;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	min-height:3em;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 16px;
	width: 120px;
	height: 60px;
	color: #fff
}
QToolBar > QToolButton:checked {
	background-color: #ffffff;
	color: #333
}
QToolBar > QToolButton:hover {
	background-color: #c0c0c0;
	color: #fff
}
QToolBar > QToolButton#ToolbarSpacer:hover:!selected {
	background-color: #c0c0c0;
}
QToolBar > QToolButton:pressed {
	background-color: #ffffff;
	color: #333
}
QMessageBox {
	background-color: #fff
}
QProgressBar {
	border: 1px solid grey;
	border-radius: 5px;
	background-color: transparent;
	padding-left: 0px;
	padding-right: 0px
}
QProgressBar::chunk {
	background-color: #33A3DC;
	width: 20px
}
QLabel#progressBarLabel {
	background-color: transparent;
	text-color: #000;
	position: fixed;
	qproperty-alignment: AlignCenter;
}
QTabWidget {
	background-color: #f2f2f2
}
QTabWidget::pane {
	background-color: #f2f2f2;
	border: 1px solid #c2c2c2
}
QTabBar {
	background-color: #f2f2f2;
	color: #333
}
QTabBar::tab:hover:!selected {
	background-color: #c0c0c0
}
QWidget {
	selection-background-color: #33A3DC;
	selection-color: #fff;
	outline: 0;
}
QGroupBox {
	background-color: #fcfcfc;
	color: #333
}
QToolTip {
	background-color: #f2f2f2;
	color: #333;
	border: 1px solid #333;
}
QLabel {
	font-size: 14px;
	color: #333333
}
QRadioButton {
	color: #333333
}
QCheckBox {
	color: #333333
}
QCheckBox:hover {} .QValidatedLineEdit,
QLineEdit,
QTextEdit {
	font-size: 12px;
	min-height: 25px;
	outline: 0;
	border-radius: 10px;
	padding: 3px;
	border: 0px;
	color: #333;
	background-color: #f2f2f2
}
QValidatedLineEdit:!focus {
	color: #33A3DC;
	background-color: #e7e7e7
}
QLineEdit:!focus {
	color: #33A3DC;
	background-color: #e7e7e7
}
QTextEdit:!focus {
	color: #33A3DC;
	background-color: #e7e7e7
}
QValidatedLineEdit:disabled,
QLineEdit:disabled,
QTextEdit:disabled {
	color: #33A3DC;
	background-color: #f2f2f2
}
QPlainTextEdit {
	background-color: #f2f2f2
}
QtMaterialFlatButton {
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: #33A3DC;
	border-radius: 4px;
	color: #33A3DC;
	font-size: 12px;
	font-weight: 700;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 1px;
	padding-bottom: 1px;
	height: 26px;
	margin: 2px
}
QtMaterialFlatButton:hover {
	background-color: #e4e4e4
}
QtMaterialFlatButton:focus {} QtMaterialFlatButton:pressed {
	background-color: #33A3DC;
	background-color: #c0c0c0
}
QLabel#labelEncryptionIcon,
QLabel#labelConnectionsIcon,
QLabel#labelBlocksIcon,
QtMaterialFlatButton#labelAutoMintIcon{
	border: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px
}
QSpinBox::up-button:hover {
	background-color: #c0c0c0
}
QSpinBox::down-button:hover {
	background-color: #c0c0c0
}
QComboBox {
	border: 1px solid #ffffff;
	border-radius: 10px;
	padding: 3px 5px 3px 5px;
	background: #fcfcfc;
	min-height: 25px;
	color: #818181
}
QComboBox:checked {
	background: #f2f2f2
}
QComboBox:editable {
	background: #33A3DC;
	color: #616161;
	border: 0px solid transparent
}
QComboBox::drop-down {
	width: 25px;
	border: 0px
}
QComboBox::down-arrow {
	border-image: url(':/images/downArrow') 0 0 0 0 stretch stretch
}
QComboBox QListView {
	background: #fff;
	border: 1px solid #333;
	padding-right: 1px;
	padding-left: 1px;
	color: #818181
}
QComboBox QAbstractItemView::item {
	margin: 4px
}
QComboBox::item {
	color: #818181
}
QComboBox::item:alternate {
	background: #fff
}
QComboBox::item:selected {
	border: 0px solid transparent;
	background: #f2f2f2
}
QComboBox::indicator {
	background-color: transparent;
	selection-background-color: transparent;
	color: transparent;
	selection-color: transparent
}
QAbstractSpinBox {
	border-radius: 10px;
	padding: 3px 5px 3px 5px;
	background: #fcfcfc;
	font-size: 12px;
	min-height: 25px;
	outline: 0;
	padding: 3px;
	border: 0px;
	color: #333;
	background-color: #f2f2f2
}
QAbstractSpinBox:!focus {
	color: #33A3DC;
	background-color: #e7e7e7
}
QAbstractSpinBox::up-button {
	subcontrol-origin: border;
	subcontrol-position: top right;
	width: 21px;
	background: #e7e7e7;
	padding-right: 1px;
	padding-left: 5px;
	padding-top: 2px
}
QAbstractSpinBox::up-arrow {
	image: url(':/images/upArrow_small')
}
QAbstractSpinBox::down-button {
	subcontrol-origin: border;
	subcontrol-position: bottom right;
	width: 21px;
	background: #e7e7e7;
	padding-right: 1px;
	padding-left: 5px;
	padding-bottom: 2px
}
QAbstractSpinBox::down-arrow {
	image: url(':/images/downArrow_small')
}
QValueComboBox {
	padding: 3px 5px 3px 5px;
	background: #fcfcfc;
	border-radius: 10px;
	font-size: 12px;
	min-height: 25px;
	outline: 0;
	padding: 3px;
	border: 0px;
	color: #333;
	background-color: #f2f2f2
}
QValueComboBox:!focus {
	color: #33A3DC;
	background-color: #e7e7e7
}
QHeaderView {
	background-color: transparent;
	outline: 0
}
QHeaderView::section {
	qproperty-alignment: center;
	background-color: #33A3DC;
	color: #fff;
	min-height: 25px;
	font-weight: 700;
	font-size: 12px;
	border: 0;
	border-right: 1px solid #fff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px
}
QHeaderView::down-arrow {
	image: url(':/images/downArrow_small_white')
}
QHeaderView::up-arrow {
	image: url(':/images/upArrow_small_white')
}
QHeaderView::section:last {
	border-right: 0
}
.QScrollArea {
	background: transparent;
	border: 0
}
.QTableView {
	background: transparent;
	border: 1px solid #333
}
QTableView::item {
	background-color: #fcfcfc;
	font-size: 12px
}
QTableView::item:selected {
	background-color: #ddd;
	color: ffff;
}
QTableWidget {
	background-color: #fcfcfc;
	alternate-background-color: #FFFF00;
	border: 1px solid #333
}
QTableWidget:focus,
QTableView,
QTableView:focus {
	outline: 0;
	background: transparent
}
QTreeWidget {
	background-color: #fcfcfc;
	alternate-background-color: #f2f2f2;
	color: #333
}
QSlider::groove:horizontal {
	border: 1px solid #bbb;
	background: white;
	height: 10px;
	border-radius: 4px;
}
QSlider::sub-page:horizontal {
	background: #777;
	border: 1px solid #777;
	height: 10px;
	border-radius: 4px;
}
QSlider::add-page:horizontal {
	background: #fff;
	border: 1px solid #777;
	height: 10px;
	border-radius: 4px;
}
QSlider::handle:horizontal {
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #eee, stop: 1 #ccc);
	border: 1px solid #777;
	width: 13px;
	margin-top: -2px;
	margin-bottom: -2px;
	border-radius: 4px;
}
QSlider::handle:horizontal:hover {
	background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1, stop: 0 #fff, stop: 1 #ddd);
	border: 1px solid #444;
	border-radius: 4px;
}
QDialog {
	background-color: #fff
}
AskPassphraseDialog {
	background-color: #fff
}
QDialog .QTabWidget {
	border-bottom: 1px solid #333
}
QDialog .QTabWidget::pane {
	border: 1px solid #d7d7d7
}
QDialog .QTabWidget QTabBar::tab {
	background-color: #fafefd;
	color: #333;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #d7d7d7
}
QDialog .QTabWidget QTabBar::tab:first {
	border-left: 1px solid #d7d7d7
}
QDialog .QTabWidget QTabBar::tab:last {
	border-right: 1px solid #d7d7d7
}
QDialog .QTabWidget QTabBar::tab:selected,
QDialog .QTabWidget QTabBar::tab:hover {
	background-color: #ffffff;
	color: #333
}
QDialog .QTabWidget .QWidget {
	background-color: #fff;
	color: #333
}
QDialog .QTabWidget .QWidget QAbstractSpinBox {
	border-radius: 10px;
	min-height: 15px
}
QDialog .QTabWidget .QWidget QAbstractSpinBox::down-button {
	width: 15px
}
QDialog .QTabWidget .QWidget QAbstractSpinBox::up-button {
	width: 15px
}
QDialog .QTabWidget .QWidget QComboBox {
	border-radius: 10px;
	min-height: 15px
}
QDialog#OpenURIDialog QLabel#label {
	font-weight: 700
}
QDialog#OpenURIDialog QtMaterialFlatButton#selectFileButton {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(250, 250, 250, 128), stop: .95 rgba(250, 250, 250, 255), stop: 1 #ebebeb);
	border: 1px solid #d2d2d2;
	color: #616161;
	padding-left: 10px;
	padding-right: 10px
}
QDialog#OpenURIDialog QtMaterialFlatButton#selectFileButton:hover {
	background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: .01 #f6f6f6, stop: .1 rgba(240, 240, 240, 255), stop: .95 rgba(240, 240, 240, 255), stop: 1 #ebebeb);
	color: #333
}
QDialog#OpenURIDialog QtMaterialFlatButton#selectFileButton:pressed {
	border: 1px solid #9e9e9e
}
QWidget#AddressBookPage {
	background-color: #fafefd
}
QWidget#AddressBookPage QTableView {
	font-size: 12px
}
QWidget#AddressBookPage QHeaderView::section {
	min-width: 260px
}
QFrame#frameObfuscation {
	background-color: transparent;
	border: 0px solid #000
}
QFrame#frameObfuscation QFormLayout#obfuscationStatusLayout QLabel {
	border: 0px solid #000
}
QFrame#frameObfuscation QtMaterialFlatButton {
	font-size: 12px;
	font-weight: 400;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	height: 26px;
	margin: 2px
}
QFrame#frameObfuscation QProgressBar#obfuscationProgress {
	border: 1px solid grey;
	border-radius: 5px;
	background-color: transparent;
	padding-left: 0px;
	padding-right: 0px
}
QFrame#frameObfuscation QProgressBar#obfuscationProgress::chunk {
	background-color: #33A3DC;
	width: 1px
}
QFrame#frameObfuscation QLabel#progressBarLabel {
	qproperty-alignment: AlignCenter;
}
QDialog#AskPassphraseDialog QLabel#passLabel1,
QDialog#AskPassphraseDialog QLabel#passLabel2,
QDialog#AskPassphraseDialog QLabel#passLabel3 {
	qproperty-alignment: 'AlignVCenter | AlignRight'
}
QDialog#OptionsDialog QValueComboBox,
QDialog#OptionsDialog QSpinBox {
	border-radius: 10px;
	margin-top: 5px;
	margin-bottom: 5px
}
QDialog#OptionsDialog QValidatedLineEdit,
QDialog#OptionsDialog QValidatedLineEdit:disabled,
QDialog#OptionsDialog QLineEdit,
QDialog#OptionsDialog QLineEdit:disabled {
	qproperty-alignment: 'AlignVCenter | AlignLeft';
	min-height: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 1px;
	padding-bottom: 1px
}
QDialog#OptionsDialog > QLabel {
	qproperty-alignment: 'AlignVCenter';
	min-height: 20px
}
QDialog#OptionsDialog QWidget#tabDisplay QValueComboBox {
	margin-top: 0px;
	margin-bottom: 0px
}
QDialog#OptionsDialog QLabel#label_3 {
	qproperty-alignment: 'AlignVCenter | AlignCenter';
	color: #818181;
	padding-bottom: 8px
}
QDialog#OptionsDialog QCheckBox {
	min-height: 20px
}
QDialog#OptionsDialog QCheckBox#displayAddresses {
	min-height: 33px
}
QDialog#OptionsDialog QLabel#labelStakeSplitThresholdText {
	font-size: 16px
}
QDialog#RPCConsole QWidget#tab_info QLabel#label_11,
QDialog#RPCConsole QWidget#tab_info QLabel#label_10 {
	qproperty-alignment: 'AlignBottom';
	min-height: 25px;
	min-width: 180px
}
QDialog#RPCConsole QWidget#tab_peers QLabel#peerHeading {
	color: #33A3DC
}
QDialog#RPCConsole QTableView#peerWidget::item {
	color: #333
}
QDialog#RPCConsole QtMaterialFlatButton#openDebugLogfileButton {
	max-width: 60px
}
QDialog#RPCConsole QTextEdit#messagesWidget {
	border: 0;
	background-color: #fcfcfc;
	color: #333
}
QDialog#RPCConsole QLineEdit#lineEdit {
	margin-right: 5px
}
QDialog#RPCConsole QtMaterialFlatButton#clearButton {
	background-color: transparent;
	padding-left: 10px;
	padding-right: 10px
}
QDialog#RPCConsole .QGroupBox #line {
	background-color: #33A3DC
}
QDialog#RPCConsole .QGroupBox #line_2 {
	background: #fff
}
QDialog#HelpMessageDialog QScrollArea * {
	background-color: #fff
}
QDialog#AboutDialog QLabel#label,
QDialog#AboutDialog QLabel#copyrightLabel,
QDialog#AboutDialog QLabel#label_2 {
	margin-left: 10px
}
QDialog#AboutDialog QLabel#label_2 {
	margin-right: 10px
}
QDialog#EditAddressDialog QLabel {
	qproperty-alignment: 'AlignVCenter | AlignRight';
	min-height: 27px;
	font-weight: 400;
	padding-right: 5px
}
QFrame[frameShape="4"] {
	border: 1px solid #33A3DC
}
QLabel#labelOverviewHeaderLeft {
	font-weight: 700;
	font-size: 20px;
	background-color: #ffffff
}
QLabel#labelOverviewHeaderRight {
	qproperty-alignment: 'AlignVCenter | AlignRight';
	background-image: url(':/images/dystem_logo_horizontal');
	background-repeat: no-repeat
}
QWidget .QFrame#frame_Header {
	min-width: 400px;
	background-color: #ffffff
}
QWidget .QFrame#frame_BG {
	min-width: 400px;
	background-color: #fafefd
}
QWidget .QFrame#frame_Space {
	min-width: 400px;
	background-color: #fafefd
}
QWidget .QFrame#frame_Content {
	min-width: 400px;
	background-color: #fafefd
}
QWidget .QFrame#frame_Balances {
	min-width: 400px;
	background-color: #ffffff
}
QWidget .QFrame#frame_CombinedBalances {
	min-width: 400px;
	background-color: #ffffff
}
QWidget .QFrame#frame_RecentTransactions {
	min-width: 400px;
	background-color: #ffffff
}
QWidget .QFrame#frame_Balances .QLabel#BalanceTitle {
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}
QWidget .QFrame#frameObfuscation .QLabel#ObfuscationTitle {
	font-size: 12px;
	min-width: 160px;
	text-transform: uppercase;
	background-color: transparent;
	font-weight: 700
}
QWidget .QFrame#frame_Balances .QLabel#labelWalletStatus {
	margin-left: 5px
}
QWidget .QFrame#frameObfuscation .QLabel#labelObfuscationSyncStatus {
	margin-left: 5px
}
QWidget .QFrame#frame_Balances .QLabel#labelSpendable {
	font-size: 12px;
}
QWidget .QFrame#frame_Balances .QLabel#labelWatchonly {
	font-size: 12px;
}
QWidget .QFrame#frame_Balances .QLabel#labelBalanceText {
	font-size: 15px
}
QWidget .QFrame#frame_Balances .QLabel#labelBalance {
	font-size: 25px;
	font-weight: 400;
}
QWidget .QFrame#frame_Balances .QLabel#labelWatchAvailable {
	font-size: 25px;
	font-weight: 400;
}
QWidget .QFrame#frame_Balances .QLabel#labelPendingText {
	font-size: 15px
}
QWidget .QFrame#frame_Balances .QLabel#labelUnconfirmed {
	font-size: 25px;
	font-weight: 400;
}
QWidget .QFrame#frame_Balances .QLabel#labelWatchPending {
	font-size: 25px;
	font-weight: 400;
}
QWidget .QFrame#frame_Balances .QLabel#labelImmatureText {
	font-size: 15px
}
QWidget .QFrame#frame_Balances .QLabel#labelImmature {
	font-size: 25px;
	font-weight: 400;
}
QWidget .QFrame#frame_Balances .QLabel#labelWatchImmature {
	font-size: 25px;
	font-weight: 400;
}
QWidget .QFrame#frame_Balances .QLabel#labelTotalText {
	font-size: 15px
}
QWidget .QFrame#frame_Balances .QLabel#labelTotal {
	font-size: 25px;
	font-weight: 400;
}
QWidget .QFrame#frame_Balances .QLabel#labelWatchTotal {
	font-size: 25px;
	font-weight: 400;
}
QWidget .QFrame#frame_CombinedBalances .QLabel#BalanceTitlez {
	min-width: 160px;
	background-color: transparent;
	text-transform: uppercase;
	color: #33A3DC;
	font-weight: 700;
	font-size: 12px;
}
QWidget .QFrame#frame_CombinedBalances .QLabel#labelBalanceTextz {
	min-width: 160px;
	color: #111E63;
	font-weight: 700;
	font-size: 12px
}
QWidget .QFrame#frame_CombinedBalances .QLabel#labelBalancez {
	font-size: 26px;
	font-weight: 400;
	color: #111E63
}
QWidget .QFrame#frame_CombinedBalances .QLabel#labelTotalTextz {
	min-width: 160px;
	color: #111E63;
	font-weight: 700;
	font-size: 12px
}
QWidget .QFrame#frame_CombinedBalances .QLabel#labelTotalz {
	font-size: 26px;
	font-weight: 400;
	color: #111E63
}
QWidget .QFrame#frame_RecentTransactions {
	min-width: 410px;
	min-height: 100px;
}
QWidget .QFrame#frame_RecentTransactions .QLabel#RecentTitle {
	min-width: 180px;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}
QWidget .QFrame#frame_RecentTransactions .QLabel#labelTransactionsStatus {
	margin-left: 5px
}
QWidget .QFrame#frame_RecentTransactions QListView {
	background-color: transparent;
	font-weight: 400;
	font-size: 12px;
	max-width: 369px;
	margin-top: 12px;
	margin-left: 0px;
}

QDialog#SendCoinsDialog {
	background-color: #fff
}
QDialog#SendCoinsDialog .QFrame#frameCoinControl {
	background-color: #ffffff
}
QDialog#SendCoinsDialog .QFrame#frameFee {
	background-color: #ffffff
}
QDialog#SendCoinsDialog .QFrame#frame_Send {
	background-color: #ffffff;
	margin-bottom: 6px
}
QDialog#SendCoinsDialog .QFrame#frameCoinControl {

} 
QDialog#SendCoinsDialog .QFrame#frameCoinControl > .QLabel {
	font-weight: 400
}
QDialog#SendCoinsDialog .QFrame#frameCoinControl .QtMaterialFlatButton#pushButtonCoinControl {
	padding-left: 10px;
	padding-right: 10px;
	min-height: 25px
}
QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlFeatures {
	qproperty-alignment: 'AlignVCenter | AlignLeft';
	min-width: 160px;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	margin-right: 5px;
	padding-right: 5px
}
QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl {

	} 
QDialog#SendCoinsDialog .QFrame#frameCoinControl .QWidget#widgetCoinControl > .QLabel {
	padding: 2px
}
QDialog#SendCoinsDialog .QFrame#frameCoinControl .QLabel#labelCoinControlChangeLabel {
	font-weight: 400
}
QDialog#SendCoinsDialog .QScrollArea#scrollArea .QWidget#scrollAreaWidgetContents {
	background-color: #ffffff
}
QDialog#SendCoinsDialog .QCheckBox#checkUseObfuscation {
	color: #616161;
	font-weight: 700;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 18px
}
QDialog#SendCoinsDialog .QCheckBox#checkSwiftTX {
	color: #616161;
	font-weight: 700;
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 18px;
	margin-left: 10px;
	margin-right: 20px
}
QDialog#SendCoinsDialog QLabel#label {
	min-height: 27px
}
QDialog#SendCoinsDialog QLabel#labelBalance {
	margin-left: 0px;
	padding-left: 0px;
	color: #333333;
	min-height: 27px
}
QStackedWidget#SendCoinsEntry .QFrame#SendCoins > .QLabel {
	min-width: 10px;
	font-weight: 700;
	min-height: 25px;
	margin-right: 5px;
	padding-right: 5px
}
QStackedWidget#SendCoinsEntry QToolButton {
	background-color: transparent;
	border: 0
}

QDialog#CoinControlDialog .QLabel#labelCoinControlQuantityText {
	min-height: 30px;
	padding-left: 15px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlQuantity {
	min-height: 30px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlBytesText {
	padding-left: 15px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlBytes {} QDialog#CoinControlDialog .QLabel#labelCoinControlAmountText {
	min-height: 30px;
	padding-left: 15px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlAmount {
	min-height: 30px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlPriorityText {
	padding-left: 15px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlPriority {} QDialog#CoinControlDialog .QLabel#labelCoinControlFeeText {
	min-height: 30px;
	padding-left: 15px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlFee {
	min-height: 30px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutputText {
	padding-left: 15px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlLowOutput {} QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFeeText {
	min-height: 30px;
	padding-left: 15px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlAfterFee {
	min-height: 30px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlChangeText {
	padding-left: 15px
}
QDialog#CoinControlDialog .QLabel#labelCoinControlChange {} QDialog#CoinControlDialog .QFrame#frame .QtMaterialFlatButton#pushButtonSelectAll {
	padding-left: 10px;
	padding-right: 10px;
	min-height: 25px
}
QDialog#CoinControlDialog .QFrame#frame .QtMaterialFlatButton#pushButtonToggleLock {
	padding-left: 10px;
	padding-right: 10px;
	min-height: 25px
}
QDialog#CoinControlDialog .QDialogButtonBox#buttonBox QtMaterialFlatButton {} QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioTreeMode {
	color: #818181;
	background-color: transparent
}
QDialog#CoinControlDialog .QFrame#frame .QRadioButton#radioListMode {
	color: #818181;
	background-color: transparent
}
QDialog#CoinControlDialog QHeaderView::section:first {
	color: transparent
}
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget {
	outline: 0;
	background-color: #ffffff;
	border: 1px solid #333
}
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item {} QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:selected {
	background-color: #ddd;
	color: ffff;
}
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::item:checked {
	background-color: #f7f7f7;
	color: #fff
}
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:selected {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f7f7f7;
	color: #333
}
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:checked {
	background-repeat: no-repeat;
	background-position: center;
	background-color: #f7f7f7;
	color: #333
}
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:open:has-children:has-siblings {
border-image: none;
image: url(':/images/downArrow_small');
}
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::branch:closed:has-children:has-siblings {
border-image: none;
image: url(':/images/rightArrow_small');
}
QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::seperator {} QDialog#CoinControlDialog .CoinControlTreeWidget#treeWidget::indicator {} QWidget#ReceiveCoinsDialog {
	background-color: #fff
}
QWidget#ReceiveCoinsDialog .QFrame#frame {
	background-color: #ffffff
}
QWidget#ReceiveCoinsDialog .QFrame#frame2 {
	background-color: #ffffff
}
QWidget#ReceiveCoinsDialog .QFrame#frame2 > .QLabel {
	min-width: 10px;
	font-weight: 700;
	min-height: 25px;
	margin-right: 5px;
	padding-right: 5px
}
QWidget#ReceiveCoinsDialog .QFrame#frame QtMaterialFlatButton {
	background-color: transparent;
	border-width: 1px;
	border-style: solid;
	border-color: #33A3DC;
	border-radius: 4px;
	color: #33A3DC;
	padding-left: 10px;
	padding-right: 10px
}
QWidget#ReceiveCoinsDialog .QFrame#frame QtMaterialFlatButton:pressed {
	border: 1px solid #9e9e9e
}
QWidget#ReceiveCoinsDialog .QFrame#frame2 QtMaterialFlatButton {
	padding-left: 10px;
	padding-right: 10px
}
QWidget#ReceiveCoinsDialog .QFrame#frame2 QtMaterialFlatButton:pressed {
	border: 1px solid #9e9e9e
}
QWidget#ReceiveCoinsDialog .QFrame#frame .QLabel#label_6 {
	color: #33A3DC;
	font-weight: 700;
	font-size: 14px
}
QDialog#ReceiveRequestDialog QTextEdit {
	border: 1px solid #d7d7d7
}
TransactionView QLineEdit {
	margin-bottom: 2px;
	margin-right: 1px;
	min-width: 111px;
	text-align: center
}
TransactionView QComboBox {
	border-radius: 10px;
	margin-bottom: 1px;
	margin-right: 1px
}
QLabel#transactionSumLabel {
	color: #333333;
	font-weight: 700
}
QLabel#transactionSum {
	color: #333333
}
QDialog#TransactionDescDialog QTextEdit {
	border: 1px solid #d7d7d7
}
QWidget#PrivacyDialog .QFrame[frameShape="4"] {
	border: 1px solid #111E63
}
QWidget#PrivacyDialog .QFrame#frame_Content {
	background-color: #f8f6f6
}
QWidget#PrivacyDialog .QFrame#verticalFrameLeft {
	background-color: #ffffff
}
QWidget#PrivacyDialog .QFrame#verticalFrameRight {
	background-color: #ffffff
}
QWidget#PrivacyDialog .QToolButton {
	margin: 2px;
	min-height: 24px;
	min-width: 24px
}
QWidget#MasternodeList .QFrame#frameList {
	background-color: #ffffff
}
QCalendarView {
	border: 1px solid #333
}
QCalendarWidget QWidget#qt_calendar_navigationbar {
	background-color: #33A3DC;
	font-weight: 700
}
QCalendarWidget QAbstractItemView {
	alternate-background-color: #c0c0c0;
	background-color: #fff
}
QCalendarWidget QAbstractItemView:enabled {
	color: #333
}
QCalendarWidget QAbstractItemView:disabled {
	color: #818181
}